<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<h3 id='new-product'></h3>

<script>
	$(function(){
		$('form').submit(function(event){
			event.preventDefault()
			var values = $(this).serialize()
			var post1 = $.post('/products', values)

			post1.done(function(response){

				$('#new-product').append(
					debugger
					`<p>${response["name"]}</p>`
					`<p>${response["id"]}</p>`
					`<p>${response["price"]}</p>`
					`<p>${response["inventory"]}</p>`
					`<p>${response["description"]}</p>`
					)
			})
		})
	})
</script>
